<ion-view view-title="ADN">
  <ion-content>


  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  	<link rel="stylesheet" href="../css/adn.css">
  	<link rel="stylesheet" href="../css/style.css">

  	<div class="container fondoblanco">
		<br>
		<hr class="line1">
		<hr class="line">
		<div class="row">
			<div class="col TituloAmarillo text-center"><span class=" ion-ionic"></span>ADN
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">   
				<p class = "pp">El ácido desoxirribonucleico, abreviado como ADN, siempre es un ácido nucleico que contiene las instrucciones genéticas usadas en el desarrollo y funcionamiento de todos los organismos vivos y algunos virus; también es responsable de la transmisión hereditaria. La función principal de la molécula de ADN es el almacenamiento a largo plazo de información para construir otros componentes de las células, como las proteínas y las moléculas de ARN. Los segmentos de ADN que llevan esta información genética son llamados genes, pero las otras secuencias de ADN tienen propósitos estructurales o toman parte en la regulación del uso de esta información genética.

				</p>
			</div>
		</div>
	

	<!--CÓDIGO ADN-->
	

	<canvas id="canvas"></canvas>

    </div>
  </ion-content>
</ion-view>
