<ion-view view-title="Infografía">
  <ion-content>
    
  	<link rel="stylesheet"  href="../css/style.css">

  	<div class="container fondoblanco">
  		<br>
  		<hr class="line1">
  		<hr class="line">

  		<div class="row">
  			<div class="col TituloAmarillo text-center"><span class=" ion-ionic"></span>Infografía
  			</div>
		  </div>

		  <br>
  		<div class="row">
    			<img src="../img/infografia.jpeg" class="infografia">
    	</div>

      <br>
      <hr class="line1">
      <p class="copyright text-center">© Virtual Programs Developers All right reserved.</p>
    </div>
      
  

  </ion-content>
</ion-view>
