<!--codigo de html de informacion locla desde un contenedor view-->
<ion-view view-title="Juego">
  <ion-content>

    <link rel="stylesheet" href="../css/memoria.css">
    <div class="container fondoblanco">
      <br>
    <hr class="line1">
    <hr class="line">

    <div class="row">
      <div class="col TituloAmarillo text-center"><span class=" ion-ionic"></span>
        ¡Memoria!
      </div>
    
    
      <!-- Juego de Memoria -->
      <div id="divCreditos"></div>
      <div id="divContenedor">
        <ul class="ul"></ul>
        <div id="divInicio">
          <div id="divInferior" >
            <p>
              Encuentra las imágenes pares.<br>
            </p>
            <input type="button" value="Jugar" id="btnJugar" >
          </div>
        </div>
        
      </div>
      <script type="text/javascript" src="js/ext/jquery.min.js"></script>
      <script type="text/javascript" src="js/memoria.js"></script>

    </div>



  </ion-content>
</ion-view> 