<ion-view view-title="BioApp">
  <ion-content class="padding fondoblanco">




<!--****************************************************************************************************************-->
    <div class="imagenfondo">
    </div>
  
<!--****************************************************************************************************************-->
    

    <div class="container espacio">
      <br>
      <hr class="line1">
      <hr class="line">
      <div class="row">
        <div class="col TituloAmarillo text-center"><span class=" ion-ionic"></span>¿Cúal es la importancia del agua?
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">        
            <p class = "pp">El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra. Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua. Quizás sea por eso que lo recomendable para tener una dieta saludable y una larga vida sea el comer alimentos con un porcentaje del 70 por ciento en agua. </p>
        </div>
      </div>
      <div class="row fondoa">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/1qrd5MyUu2w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </video>
      </div>

      <br>
      <hr class="line1">
      <hr class="line">
      <div class="row">
        <div class="col TituloAmarillo text-center"><span class=" ion-ionic"></span>¿Qúe debe comer un adolescente?
        </div>
      </div>
    
      <div class="row">
        <div class="col">        
            <p class = "pp">
              Las ingestas recomendadas en la adolescencia no
              se relacionan con la edad cronológica sino con el ritmo de crecimiento o con la edad biológica, ya que
              el ritmo de crecimiento y el cambio en la composición corporal, van más ligados a esta. 
              El principal objetivo de las recomendaciones
              nutricionales en este periodo de la vida es conseguir
              un estado nutricional óptimo y mantener un ritmo
              de crecimiento adecuado, lo que conducirá a mejorar
              el estado de salud en esta etapa y en la edad adulta y
              a prevenir las enfermedades crónicas de base nutricional que pueden manifestarse en etapas posteriores
              de la vida. </p>
            
              <p class="pp">Ejemplo de menú para un adolescente:</p>
        </div>
      </div>

      <br>
      <div class="row fondotabla">
        <div class="col">
          <h4 class="textoA text-center"><span class="fas fa-utensils"></span>  TABLA NUTRICIONAL</h4>
          <hr class="line1">
        </div>
      </div>

      <div class="row fondotabla">
        <div class="col">
          <div class="bordemenu fondonegro">
            <h4 class="textomenu text-center">DESAYUNO</h4>
            <hr>
            <ul class="Blancopeque">
              <li>Ensaladda de frutas</li>
              <li>2 rebanadas de pan integral</li>
              <li>30g de queso blanco</li>
              <li>Aguacate</li>
              <li>1 vaso de jugo de naranja</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row fondotabla">
        <div class="col">
          <div class="bordemenu fondonegro">
            <br><br>
            <h4 class="textomenu text-center ">MERIENDA</h4>
            <hr>
            <ul class="Blancopeque">
              <li>Yogurt de frutas con cereal</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row fondotabla">
        <div class="col">
          <div class="bordemenu fondonegro">
            <h4 class="textomenu text-center">ALMUERZO</h4>
            <hr>
            <ul class="Blancopeque">
              <li>Sopa de verduras</li>
              <li>1/4 de pollo horneado</li>
              <li>Enzalada mixta</li>
              <li>Arroz</li>
              <li>Jugo de piña</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row fondotabla">
        <div class="col">
          <div class="bordemenu fondonegro">
            <br><br>
            <h4 class="textomenu text-center ">MERIENDA</h4>
            <hr>
            <ul class="Blancopeque">
              <li>1 ciruela</li>
              <li>1 taza de gelatina</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row fondotabla">
        <div class="col">
          <div class="bordemenu fondonegro">
            <h4 class="textomenu text-center">CENA</h4>
            <hr>
            <ul class="Blancopeque">
              <li>Arepa asada</li>
              <li>1 rebanada de jamón</li>
              <li>30g de queso blanco</li>
              <li>Jugo de melón</li>
              <li>5g de azúcar (opcional)</li>
            </ul>
          </div>
        </div>
      </div>

      <br>
      <hr class="line1">
      <hr class="line">
      <div class="row">
        <div class="col TituloAmarillo text-center"><span class=" ion-ionic"></span>Fecundación, desarrollo del embrión y métodos anticonceptivos
        </div>
      </div>
 
      <br>
      <div class="row fondoa">
       <iframe width="100%" height="315" src="https://www.youtube.com/embed/MJQuPcigo3Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="row">
        <br>
        <hr class="line1">
        <p class="copyright text-center">© Virtual Programs Developers All right reserved.</p>
      </div>
      
    </div>  
    

<!--****************************************************************************************************************-->
  

       
  

  </ion-content>
</ion-view>
